In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import os
import pandas as pd
import numpy as np 
import tensorflow as tf
import seaborn as sns
import pickle as pkl
import matplotlib.pyplot as plt


import sklearn 

from datetime import datetime

In [3]:
# Display

pd.set_option('max_colwidth', 800)
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [4]:
with open('./dataset/train/train.pkl','rb') as f:
    df =  pkl.load(f)

In [5]:
df.head()

,reservation_id,booking_date,checkin_date,checkout_date,channel_code,main_product_code,numberofadults,numberofchildren,persontravellingid,resort_region_code,resort_type_code,room_type_booked_code,roomnights,season_holidayed_code,state_code_residence,state_code_resort,total_pax,member_age_buckets,booking_type_code,memberid,cluster_code,reservationstatusid_code,resort_id,amount_spent_per_room_night_scaled
0,9785,2018-05-04,2018-05-04,2018-06-04,3,1,2,0,46,3,3,3,1,2.0,7.0,3,3,5,1,24179,5,2,7,7.706428
1,4694,2015-01-23,2015-11-04,2015-04-16,1,1,2,0,46,3,3,4,5,2.0,7.0,5,2,5,1,24179,5,0,1,6.662563
2,278743,2015-01-28,2015-01-02,2015-05-02,1,1,2,0,47,1,5,4,4,2.0,7.0,1,2,5,1,24179,4,0,9,7.871602
3,276853,2015-02-05,2015-11-06,2015-06-16,1,1,2,2,46,2,2,3,5,2.0,7.0,2,2,5,1,24179,3,0,25,5.344943
4,196536,2015-02-09,2015-12-14,2015-12-19,1,1,2,0,46,2,2,4,5,2.0,7.0,2,2,5,1,24179,3,0,25,7.059346

In [ ]:
df = df.drop(['reservation_id','booking_data','checkin_date','checkout_date'])